<!-- <router-outlet /> -->
<!-- <h1>hola leo {{ city.toUpperCase() }}</h1> -->
<!-- <app-user></app-user> -->
<!-- <mat-icon>home</mat-icon> -->

<div class="p-2 flex justify-center items-center h-screen">
  @if (isLogin) {
  <app-home-bank></app-home-bank>
  <!-- <span>COntraseña correcta</span> -->
  }@else {
  <div class="bg-black flex items-center rounded-lg bg-opacity-20 w-96">
    <div
      class="w-full h-full flex flex-col gap-y-2 justify-center items-center"
    >
      <img
        class="h-32"
        src="https://cdn3d.iconscout.com/3d/premium/thumb/atm-machine-8527104-6716473.png?f=webp"
        alt=""
      />
      <button
        class="p-2 flex justify-center items-center hover:bg-black hover:bg-opacity-50 bg-[#2C2C2C] rounded-full"
        (click)="veriPass()"
      >
        <span class="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-login-2"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path
              d="M9 8v-2a2 2 0 0 1 2 -2h7a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-7a2 2 0 0 1 -2 -2v-2"
            />
            <path d="M3 12h13l-3 -3" />
            <path d="M13 15l3 -3" />
          </svg>
        </span>
      </button>
    </div>
    <div
      class="bg-[#2C2C2C] w-full gap-2 flex justify-center rounded-r-lg items-center p-2 flex-wrap"
    >
      <div class="w-full text-center flex justify-center items-center">
        <span
          >@if (pin!=="") {
          {{ pin }}
          }@else { Ingrese su clave }</span
        >
      </div>

      <div
        class="p-2 h-10 w-10 rounded-full cursor-pointer hover:bg-black hover:bg-opacity-50 flex justify-center items-center bg-[#232323]"
        *ngFor="let num of numero"
        (click)="handlePin(num.toString())"
      >
        @if (num==="X") {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-circle-x"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
          <path d="M10 10l4 4m0 -4l-4 4" />
        </svg>
        }@else {
        {{ num }}
        }
      </div>
    </div>
  </div>
  }
</div>
